<mat-card class="dashboard-card">
    <mat-card-header>
        <mat-card-title>
        </mat-card-title>
    </mat-card-header>
    <img class="card-image" src="../../assets/images/shoe-product2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content class="dashboard-card-content mx-2">
        <span class="product-brand">Nike</span>
        <div class="product-title">Revolution 4 Running Shoes for Men (Grey)</div>
        <div>
            <span class="rating">4.5
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half"></i>
            </span><span class="buy-count">(163)</span>
            <span class="price">$560</span>
        </div>
    </mat-card-content>
</mat-card>