<div [class]="theme">
    <mat-progress-bar mode="indeterminate" *ngIf="showProgress"></mat-progress-bar>
    <div class="login-background">
        <div class="container-fluid" [@flyInOut]="'enter'">
            <div class="row">
                <div class="col-xl-8 col-lg-7 d-md-none d-lg-block d-sm-none">
                    <div class="m-2">
                        <span class="brand-text">Dekart<i class="fab fa-phoenix-framework"></i><br></span>
                        <span class="quote-text">STAY HOME AND SHOP ONLINE.<br></span>
                        <span>YOU'RE TOO PRETTY TO HAVE TO LOOK FOR A PARKING SPOT</span>
                        <div class="row brand-highlight">
                            <div class="col-sm">
                                <i class="fas fa-tshirt"></i>
                                <br><span class="brand-font">Fashion</span>
                            </div>
                            <div class="col-sm">
                                <i class="fas fa-desktop"></i>
                                <br><span class="brand-font">Electronics</span>
                            </div>
                            <div class="col-sm">
                                <i class="fas fa-shoe-prints"></i>
                                <br><span class="brand-font">Footwear</span>
                            </div>
                            <div class="col-sm">
                                <i class="fas fa-shopping-basket"></i>
                                <br><span class="brand-font">Grocery</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col d-lg-none d-xl-none d-md-block brand-text">
                    <i class="fab fa-phoenix-framework"></i>
                </div>
                <div class="col-xl-4 col-lg-4 offset-xl-0 offset-lg-0 offset-md-3 col-md-7 offset-sm-2 col-sm-8 loginwrap">
                    <div class="row">
                        <div>&nbsp;</div>
                        <app-user-login *ngIf="showLogin" (showProgress)="loadProgress($event)"></app-user-login>
                        <app-user-register *ngIf="!showLogin"></app-user-register>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>