<div [class]="theme">
    <div class="container-fluid p-0 box-shadow">
        <div class="row">
            <mat-toolbar color="primary">
                <button class="mx-3" type="button" aria-label="Toggle sidenav" mat-icon-button
                    (click)="drawer.toggle()">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="w-100 mx-4">
                    <div class="w-50 d-inline position-relative">
                        <input type="text" class="search-bar" placeholder="Search anything on Dekart!">
                        <i class="fas fa-search"></i>
                    </div>

                    <div class="h3 font float-right d-none d-md-block">
                        <button mat-button class="font font-weight-bold mx-2 accent-bg" (click)="navigate(ROUTES.HOME)">
                            Home
                        </button>
                        <button mat-icon-button><i class="fas fa-bell" matTooltip="Notifications"></i>
                            <mat-icon [matBadge]="totalCartItems" matBadgeColor="accent"></mat-icon></button>
                        <button mat-icon-button (click)="navigate(ROUTES.CART)"><i class="fas fa-shopping-cart" matTooltip="My Cart"></i>
                            </button>
                        <button mat-icon-button><i class="fas fa-user-circle" matTooltip="Profile"></i></button>
                    </div>
                </div>
            </mat-toolbar>
        </div>
    </div>
    <div>
        <mat-sidenav-container class="sidenav-container">
            <mat-sidenav #drawer class="sidenav primary" fixedInViewport="true" [mode]="'over'">
                <mat-nav-list>
                    <mat-expansion-panel class="primary" [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="fas fa-desktop"></i> Electronics
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-nav-list>
                            <a mat-list-item (click)="navigate(ROUTES.PRODUCT_LIST, ROUTE_PARAMS.MOBILES)">
                                <span class="font-white sub-item-list"><i class="fas fa-mobile"></i>Mobile</span>
                            </a>
                            <a mat-list-item (click)="navigate(ROUTES.PRODUCT_LIST, ROUTE_PARAMS.LAPTOPS)">
                                <span class="font-white sub-item-list"><i class="fas fa-laptop"></i>Laptops</span>
                            </a>
                            <a mat-list-item (click)="navigate(ROUTES.PRODUCT_LIST, ROUTE_PARAMS.MOBILE_ACCESSORIES)">
                                <span class="font-white sub-item-list"><i class="fas fa-calculator"></i>Mobile
                                    Accessories</span>
                            </a>
                        </mat-nav-list>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="primary">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="fas fa-tshirt"></i>Fashion
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-nav-list>
                            <a mat-list-item (click)="navigate(ROUTES.PRODUCT_LIST, ROUTE_PARAMS.MEN)">
                                <span class="font-white sub-item-list"><i class="fas fa-male"></i>Men</span>
                            </a>
                            <a mat-list-item (click)="navigate(ROUTES.PRODUCT_LIST, ROUTE_PARAMS.WOMEN)">
                                <span class="font-white sub-item-list"><i class="fas fa-female"></i>Women</span>
                            </a>
                            <a mat-list-item (click)="navigate(ROUTES.PRODUCT_LIST, ROUTE_PARAMS.KIDS)">
                                <span class="font-white sub-item-list"><i class="fas fa-baby"></i>Kids</span>
                            </a>
                        </mat-nav-list>
                    </mat-expansion-panel>
                    <a mat-list-item (click)="navigate(ROUTES.PRODUCT_LIST, ROUTE_PARAMS.HOME_FURNITURES)">
                        <span class="font-white item-list"><i class="fas fa-home"></i>Home and Furniture</span>
                    </a>
                    <a mat-list-item (click)="navigate(ROUTES.PRODUCT_LIST, ROUTE_PARAMS.TV_APPLIANCES)">
                        <span class="font-white item-list"><i class="fas fa-tv"></i>TVs & Appliances</span>
                    </a>
                    <a mat-list-item (click)="navigate(ROUTES.PRODUCT_LIST, ROUTE_PARAMS.TOYS_BABY)">
                        <span class="font-white item-list"><i class="fas fa-guitar"></i>Toys and Baby</span>
                    </a>
                    <a mat-list-item (click)="navigate(ROUTES.PRODUCT_LIST, ROUTE_PARAMS.BEAUTY_PERSONAL_CARE)">
                        <span class="font-white item-list"><i class="fas fa-crown"></i>Beauty and Personal Care</span>
                    </a>
                    <a mat-list-item (click)="navigate(ROUTES.PRODUCT_LIST, ROUTE_PARAMS.SPORTS_BOOKS)">
                        <span class="font-white item-list"><i class="fas fa-futbol"></i>Sports, Books and More</span>
                    </a>
                    <a mat-list-item (click)="navigate(ROUTES.ORDERS)">
                        <span class="font-white item-list"><i class="fas fa-luggage-cart"></i>My Orders</span>
                    </a>
                    <a mat-list-item (click)="navigate(ROUTES.REWARDS)">
                        <span class="font-white item-list"><i class="fas fa-store"></i>My Rewards</span>
                    </a>
                    <a mat-list-item (click)="navigate(ROUTES.NOTIFICATIONS)">
                        <span class="font-white item-list"><i class="fas fa-bell"></i>Notifications</span>
                    </a>
                    <a mat-list-item (click)="navigate(ROUTES.CART)">
                        <span class="font-white item-list"><i class="fas fa-shopping-cart"></i>My Cart</span>
                    </a>
                    <a mat-list-item (click)="navigate(ROUTES.WISHLIST)">
                        <span class="font-white item-list"><i class="fas fa-star"></i>My Wishlist</span>
                    </a>
                    <a mat-list-item (click)="navigate(ROUTES.HELP)">
                        <span class="font-white item-list"><i class="fas fa-bell"></i>Help</span>
                    </a>
                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content>
                <div class="main" [@flyInOut]="getPage(appOutlet)">
                    <router-outlet #appOutlet="outlet"></router-outlet>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>
