.no-order-wrap {
    text-align: center;
    margin: 10% auto;
}

.fa-bomb {
    font-size: 200px;
    position: relative;
    left: 20px;
}

.no-order {
    font-size: 20px;
    font-weight: bold;
}
